<form method = "post" action = "/projects/<%=@project.id %>" >
  <label for="project-name-field"> Project Name: </label>
  <input
  value = "<%=@project.name%>"
  type ="text"
  name = "name"
  id= "project-name-field"/>


  <label for="project-type-field"> Project Type: </label>
  <input
  type ="text"
  name = "type"
  value= "<%=@project.type%>"
  id= "project-type-field"/>

  <label for="project-location-field"> Project Location: </label>
  <input
  type ="text"
  name = "location"
  value = "<%=@project.location%>"
  id= "project-location-field"/>

  <label for="project-specialism_required-field"> Project specialism: </label>
  <input
  type ="text"
  name = "specialism_required"
  value = "<%=@project.specialism_required%>"
  id= "project-specialism_required-field"/>

  <label for="project-age-requirement-field"> Project Age requirement: </label>
  <input
  type ="number"
  name = "age_required"
  value = "<%=@project.age_requirement %>"
  id="project-age-requirement-field"/>

  <input type ="submit" value ="Update project <%=@project.name%>" />

</form>
