<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Prjoect All</title>
    <link
    href="/styles/projects/project_index.css" rel = "stylesheet"
    href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700,700i"/>
  </head>

 <body>
  <h1> Bellow are all the current saved projects</h1>

  <p class="needs_volunteers">  See list of Projects requiring volunteers <a href = "/projects/available"> here </a></p>

  <hr>

  <% @projects.each do |project|  %>
  <div class="project">
  <p> Project name: <%=project.name%></p>
  <br>
  <p> Project type: <%=project.type%></p>

  <br>

  <a class = 'full' href = "/projects/<%=project.id%>"> Full details </a>
  <br>

  <p class ="find"><a href = "/projects/<%=project.id%>/volunteers">Find volunteers</a>  signed up to this project </p>
  </div>

    <form action="/projects/<%=@projects.first.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

  <hr>

<% end  %>

</body>
</html>
