<h1> Bellow are all the current saved projects</h1>
<% @projects.each do |project|  %>

<p> Project name: <%=project.name%></p>
<p> Project type: <%=project.type%></p>
<br>
<form action="/projects/<%=@projects.first.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

<a href = "/projects/<%=project.id%>"> Full details </a>
<br>

<a href = "/projects/<%=@projects.first.id%>/project.volunteers"> Find volunteers signed up to this project </a>


<% end  %>

<br>

<a href = "/"> Home </a>
