<h1> <%=@project.name %> </h1>

<p> Type: <%=@project.type%> </p>
<p> Location: <%=@project.location%> </p>
<p> Specilsm: <%=@project.specilsm_required%> </p>
<p> Age requirement: <%=@project.age_requirement%> </p>

<a href = "/"> Home </a>
<br>
<a href = "/projects"> All projects </a>
