<h1> <%=@project.name %> </h1>

<p> Type: <%=@project.type%> </p>
<p> Location: <%=@project.location%> </p>
<p> specialism: <%=@project.specialism_required%> </p>
<p> Age requirement: <%=@project.age_requirement%> </p>

<a href ="/projects/<%=@project.id%>/edit"> Edit this project </a>

<br>

<a href = "/"> Home </a>
<br>
<a href = "/projects"> All projects </a>
