<form method = "post" action = "/volunteers/<%=@volunteer.id %>" >
  <label for="volunteer-name-field"> Volunteer Name: </label>
  <input
  value = "<%=@volunteer.name%>"
  type ="text"
  name = "name"
  id= "volunteer-name-field"/>

  <label>
    Select a volunteer specialism (for general volunteers please select none):
    <select name = "specialism">

      <option value = "Driving"> none </option>
    <option value = "Counselling"> Counselling </option>
    <option value = "First Aid"> First Aid </option>
    <option value = "Driving"> Driving </option>
    </select>
  </label>


  <label for="volunteer-age-field"> Volunteer Age: </label>
  <input
  type ="number"
  name = "age"
  value= "<%=@volunteer.age%>"
  id= "project-type-field"/>

  <!-- <label for="volunteer-specialism-field"> Volunteer specialism: </label>
  <input
  type ="text"
  name = "location"
  value = "<%=@volunteer.specialism%>"
  id= "project-location-field"/> -->

  <input type ="submit" value ="Update project <%=@volunteer.name%>" />

</form>
