<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Volunteers:all</title>
    <link href ="/styles/volunteer_show.css" rel = "stylesheet" />
  </head>
  <body>

<h1> <%=@volunteer.name %> </h1>

<img src ="/volunteer_images/profile.jpg"
<p> Name: <%=@volunteer.name%> </p>
<p> Age: <%=@volunteer.age%> </p>
<p> Specialism: <%=@volunteer.specialism%> </p>


<a href ="/volunteers/<%=@volunteer.id%>/edit"> Edit this volunteer </a>

<form action="/volunteers/<%=@volunteer.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

<br>

</body>
</html>
