<link
      href="/bookings/booking_new.css" rel = "stylesheet"/>
  <link    href="https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700,700i"/>


<h1> Add a volunteer to a project</h3>

  <p> Projects with specific requirements as listed as such, for example 'Edinbrugh Drug Counsoling' and require a volunteer with the specific skills. General volunteers are not allowed to be added to such projects. Certain projects also have an age requirements and are displayed as such. </p>

 <form action = "/bookings" method = "post" >
   <label>
     Select a project:
     <select name = "project_id">
       <% for project in @projects do%>
       <%if project.capacity != 0 %>
       <option value ="<%=project.id  %>"> <%=project.name%> - <%=project.specialism_required  %> - <%=project.age_requirement%> </option>
       <%end %>
      <%end %>
     </select>
   </label>
   <br>
   <br>

     <label>
       Select a volunteer:
       <select name = "volunteer_id">
         <%for volunteer in @volunteers do%>
         <option value = "<%=volunteer.id%>"> <%=volunteer.name%> - <%=volunteer.specialism%> - <%=volunteer.age%></option>
         <%end%>
       </select>
     </label>

    <br>
    <br>

     <label>
       Day of the week:
       <select name = "day_id">
         <%for day in @days do%>
         <option value = "<%=day.id%>"><%=day.day%></option>
         <%end%>
       </select>
     </label>

     <br>
     <br>


       <input class="btn btn--action" type='submit' value="Add">
</form>
