<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Bookings: <<%=@booking.project.name%> </title>
  </head>
  <body>

<h1> <%=@booking%> </h1>

<p> Name: <%=@booking.project.name%> </p>
<p> Type: <%=@booking.project.type%> </p>
<p> specialism: <%=@booking.project.location%> </p>
<p> Age requirement: <%=@booking.project.age_requirement%> </p>
<p> Capacity: <%=@booking.project.capacity%>
<p> Name: <%=@booking.volunteer.name%> </p>
<p> Age: <%=@booking.volunteer.age%> </p>
<p> specialism: <%=@booking.volunteer.specialism%> </p>
<p> Day: <%=@booking.day.day%> </p>




<a href ="/bookings/<%=@booking.id%>/edit"> Edit this project </a>
<br>
<a href ="/bookings/new"> Add volunteers to this project </a>

<form action="/bookings/<%=@booking.id %>/delete" method="POST"><input type="submit" value="Delete"></form>

</body>
</html>
