<h1> <%=@booking %> </h1>

<p> Name: <%=@booking.project.name%> </p>
<p> Type: <%=@booking.project.type%> </p>
<p> specialism: <%=@booking.project.location%> </p>
<p> Age requirement: <%=@booking.project.age_requirement%> </p>
<p> Capacity: <%=@booking.project.capacity%>
<p> Name: <%=@booking.volunteer.name%> </p>
<p> Age: <%=@booking.volunteer.age%> </p>
<p> specialism: <%=@booking.volunteer.specialism%> </p>




<a href ="/bookings/<%=@booking.id%>/edit"> Edit this project </a>
<br>
<a href ="/bookings/<%=@booking.id%>/new"> Add volunteers to this project </a>

<br>

<a href = "/"> Home </a>
<br>
<a href = "/projects"> All projects </a>
